################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessRuleEngine/obj
/BusinessRuleEngineUnitTest
/.vs/BusinessRuleEngine/v15/Server/sqlite3
